# OS-specific files
.DS_Store


# === C++ Build Artifacts ===

# Object files
*.o
*.obj
*.lo
*.slo

# Precompiled headers
*.gch
*.pch

# Static libraries
*.a
*.la
*.lai
*.lib

# Shared libraries / dynamic libraries
*.so
*.dylib
*.dll
*.pyd

# Executables
*.exe
*.out
*.app

# Dependency files
*.d


# === Python Artifacts ===

__pycache__/
*.py[cod]
*.pyo

# Mypy
.mypy_cache/
src/.mypy_cache/

# Distribution/build folders
**/build/
/dist/

# Temporary certificate files
*.p12


# === IDE / Editor ===

.vscode/
