[submodule "lib/nanobind"]
	path = lib/nanobind
	url = https://github.com/wjakob/nanobind.git
[submodule "lib/opennurbs"]
	path = lib/opennurbs
	url = https://github.com/mcneel/opennurbs.git
[submodule "lib/draco"]
	path = lib/draco
	url = https://github.com/google/draco.git