name: Tests

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: test-${{ github.ref }}
  cancel-in-progress: false

jobs:
  check_relevant_changes:
    name: check for relevant changes
    runs-on: ubuntu-latest
    outputs:
      any_changed: ${{ steps.changed-files.outputs.any_changed }}
    steps:
      - name: checkout
        uses: actions/checkout@v4.1.1
        with:
          fetch-depth: 2
      - name: check changed files
        uses: tj-actions/changed-files@v45.0.4
        id: changed-files
        with:
          files: |
            .github/workflows/workflow_ci.yml
            py3dm/__init__.py
            src/**/*.h
            src/**/*.cpp
            tests/**
            CMakeLists.txt
            pyproject.toml
      - name: List all changed files
        env:
          ALL_CHANGED_FILES: ${{ steps.changed-files.outputs.all_changed_files }}
        run: |
          for file in ${ALL_CHANGED_FILES}; do
            echo "$file was changed"
          done

  cpython_build_and_test:
    needs: [check_relevant_changes]
    if: needs.check_relevant_changes.outputs.any_changed == 'true'

    strategy:
      fail-fast: false
      matrix:
        os: ['windows-latest', 'macos-15', 'ubuntu-latest']
        python: ['3.14']

    name: "Python ${{ matrix.python }} / ${{ matrix.os }}"
    runs-on: ${{ matrix.os }}

    steps:
      - name: set up python ${{ matrix.python }}
        uses: actions/setup-python@v5.4.0
        with:
          python-version: ${{ matrix.python }}

      - name: install the latest CMake
        uses: lukka/get-cmake@latest

      - name: install dependencies
        run: python -m pip install --upgrade pip setuptools wheel build scikit-build-core

      - name: Install libuuid (dev headers and linker support)
        if: runner.os == 'Linux'
        run: sudo apt-get update && sudo apt-get install -y uuid-dev

      - name: checkout
        uses: actions/checkout@v4.1.1

      - name: update submodules
        run: git submodule update --init --recursive

      - name: build ${{ matrix.python }} ${{ matrix.os }}
        run: python -m build

      - name: install package
        run: |
          cd dist
          python -m pip install *.whl
        shell: bash

      - name: test ${{ matrix.python }} ${{ matrix.os }}
        run: |
          cd tests
          python -m unittest discover --verbose
        shell: bash

  cpython_build_with_draco_and_test:
    needs: [check_relevant_changes]
    if: needs.check_relevant_changes.outputs.any_changed == 'true'

    strategy:
      fail-fast: false
      matrix:
        os: ['windows-latest', 'macos-15', 'ubuntu-latest']
        python: ['3.14']

    name: "Python ${{ matrix.python }} / ${{ matrix.os }}"
    runs-on: ${{ matrix.os }}

    steps:
      - name: set up python ${{ matrix.python }}
        uses: actions/setup-python@v5.4.0
        with:
          python-version: ${{ matrix.python }}

      - name: install the latest CMake
        uses: lukka/get-cmake@latest

      - name: install dependencies
        run: python -m pip install --upgrade pip setuptools wheel build scikit-build-core

      - name: Install libuuid (dev headers and linker support)
        if: runner.os == 'Linux'
        run: sudo apt-get update && sudo apt-get install -y uuid-dev

      - name: checkout
        uses: actions/checkout@v4.1.1

      - name: update submodules
        run: git submodule update --init --recursive

      - name: build ${{ matrix.python }} ${{ matrix.os }}
        run: |
          python -m build --cmake-args -DINCLUDE_DRACO=ON
        shell: bash

      - name: install package
        run: |
          cd dist
          python -m pip install *.whl
        shell: bash

      - name: test ${{ matrix.python }} ${{ matrix.os }}
        run: |
          cd tests
          python -m unittest discover --verbose
        shell: bash
